# Week 3: Python Basics (Part II) - Class Exercises

We first load the packages and data necessary for this exercise.

In [6]:
import pandas as pd
import numpy as np
from pydataset import data

# Load the airquality dataset
airquality = data('airquality')

---

## 1. Lottery Numbers

In order to win the top prize in a particular lottery, one must match all 6 numbers between 1 and 49 drawn by the lottery organizer.

Using the `random.choice()` function from the `numpy` library, generate **six distinct** integers between 1 and 49 (inclusive) and store the results in an object named `lottery_num`. 

Ensure the numbers do not contain any duplicates. Print the numbers in **ascending order**.

Your code should produce something like

The lottery numbers are: [14 18 28 45 46 48].

In [7]:
# Type your code here:

---

## 2. Air Quality in New York City

In this question, we will examine daily air quality in New York City in 1973. 

The data are available through the `pydataset` package, which we installed with `requirements.txt`.

### (a) Determine the shape of the dataset and the number of unique months.
**Hint:** Have a look at `nunique` for the number of unique months.

In [8]:
# Display the first few rows of the data

In [9]:
# Find the number of rows and columns

In [10]:
# Find the number of unique months represented

**Fill in the blanks.**

The data set has _______ (integer) rows and _______ (integer) columns. There are _______ (integer) unique months represented in the data.

#### (b) Create a `Season` column
Create a new column `Season` that takes the value of `Spring` for May, `Summer` for June, July, August, and `Autumn` for September.

Print the first 125 rows of the data.

In [11]:
# Type your code here:

#### (c) Summary Statistics
Use `describe()` to display summary statistics for temperature in the summer months.

In [12]:
# Type your code here:

---

## 3. Function to calculate Taxi Fare

Define a function called `get_fare(distance)` that calculates a taxi fare based on the following:
- Base fare is $5.00.
- If distance is greater than 10km, add $1.50 per km for every km **above** 10.
- Return the total fare.

Make use of your function to print 

The fare for 15km is $12.50.

In [13]:
# Type your code here: